@model IEnumerable<BookClub.Models.ChapterModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center m-5">Alla kapitel</h1>

<div class="chapterTable m-5">


<table class="table table-striped table-warning">
    <thead>
        <tr>
            <th>
                Titel
            </th>
            <th>
                Nummer
            </th>
            <th>
                Bok
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(c => c.Book.Title)) {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Number
            </td>
            <td>
                @item.Book.Title
            </td>
            <td>
            @if (User.IsInRole("Admin")) {
                <div>
                <a asp-action="Edit" asp-route-id="@item.Id" class="updateText">Uppdatera</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="deleteText">Radera</a>                     
                </div>
               
            }

            </td>
        </tr>
}
    </tbody>
</table>
</div>
<p>
    @if(User.IsInRole("Admin")) {
    <a asp-action="Create" class="showBooksBtn mx-auto d-block mt-4 mb-5">Skapa ett nytt kapitel</a>        
    }

</p>
