@model BookClub.Models.ReviewModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center p-4">Radera inlägget</h1>

<h3 class="text-center">Är du säker på att du vill radera inlägget?</h3>
    <hr />
<div class="text-center m-5">
<img class="deleteImg" src="@Model.Book.Image" />    
<h3>@Model.Book.Title</h3>
<h4>⭐ @Model.Review</h4>
<p class="w-50">@Model.Comment</p>
<p class="text-muted">@Model.UserName - @Model.CreatedAt.ToString(format: "yyyy-MM-dd")</p>

    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
        <input type="submit" value="Radera" class="delete deleteSiteBtn" />
    </form>
</div> 
