@model BookClub.Models.DiscussionModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center m-5">Radera en kommentar</h1>

<h3 class="text-center m-5">Är du säker på att du vill radera kommentaren?</h3>
<div class="text-center">
    <hr />
    <div>
    <h4>@Model.Title</h4>
    <p>@Model.Content</p>
    <p class="text-muted">@Model.User</p>
    <p class="text-muted">@Model.CreatedAt.ToString(format:"yyyy-MM-dd")</p>        
    </div> 
    <form asp-action="Delete" class="mb-5">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
        <input type="submit" value="Radera" class="delete deleteSiteBtn" /> 

    </form>
</div>
