@model BookClub.Models.DiscussionModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center m-5">Detaljer om inlägget</h1>

<div>
    <hr />
    <div class="text-center">

    <h4>@Model.Title</h4>
    <h5>Kapitel - @Model.Chapter.Number</h5>
    <p>@Model.Content</p>

    <p class="text-muted">@Model.CreatedAt.ToString(format:"yyyy-MM-dd")</p>
    <p class="text-muted">@Model.UserName</p>
    </div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="update updateEdit text-center d-block mx-auto">Uppdatera</a> 
    <a asp-action="Index" class="editBack">Visa alla inlägg</a>
</div>
