@{
    ViewData["Title"] = "Home Page";
}
@model BookClub.Models.HomeModel

<div class="Intro row">
    <div class="IntroText col-sm-6 p-5">
       <h1 class="text-center">Bokhörnan</h1> 
       <p>Välkommen till vår bokklubb! Här väljer vi varje månad ut en ny
        bok som vi läser tillsammans och kan diskutera under månadens gång. 
        Vi har diskussionsforum uppdelade i kapitel så att man kan undvika spoilers 
        och det finns även en möjlighet att lämna en recension när man är klar med boken.
        De böcker vi har läst innan finns också upplistade och du kan självklart börja med att 
        läsa någon av dem om du hellre vill det och även lämna kommentarer eller recensioner 
        för dem. Hoppas du hittar något du vill läsa och blir en del av vår lilla bokklubb!
       </p>
    </div>
    <div class="col-sm-6">
      <img class="introImg" src="/bookshop.jpg" />  
    </div>
    
</div>

<div class="text-center bookOfMonth p-4">
    <h2>Just nu läser vi</h2>
    <div class="monthContent row p-5">
    @if (Model.CurrentBook != null)
    {
        <div class="col-sm-4">
             <img class="currentBookImg" src="@Model.CurrentBook.Image" />
        </div>
       <div class="col-sm-8 my-auto">
        <h3>@Model.CurrentBook.Title - @Model.CurrentBook.Author?.Name</h3>
        <p>@Model.CurrentBook.Description</p>
        <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.CurrentBook.Id">Gå till bokens sida</a>
        </div>
    }
</div>
</div>

<div class="questions p-3">
    <h2 class="text-center mb-5 mt-3">Hur det fungerar</h2>
<div class="questionList">
    <div class=" m-2 p-3 oneQuestion">
    <h3 class="text-center">Vilka böcker väljs?</h3>
    <p>I vår bokklubb turas vi om att välja böcker varje månad. 
        Detta innebär att vi får läsa böcker i flera olika genrer av 
        författare från många olika platser i världen. Det vi hoppas åstadkomma är 
        en stor variation av berättelser och författare för att få ut så mycket som möjligt
        från den här delade upplevelsen.
    </p>
</div>
<div class="m-2 p-3 oneQuestion">
    <h3 class="text-center">Hur lång tid läggs på varje bok?</h3>
    <p></p>
</div>
<div class="m-2 p-3 oneQuestion">
    <h3 class="text-center">Hur går jag med?</h3>
    <p></p>
</div>
</div>
</div>



<h2 class="text-center p-5">Böckerna vi har gillat mest</h2>

  <div class="topBooks"> 
@foreach (var book in Model.TopRated)
{
 
var average = book.Reviews.Any()
? book.Reviews.Average(r => r.Review)
: 0;

    <div class="oneTopBook">
    <img class="topBooksImg" src="@book.Image" />
    <h4>@book.Title</h4>
    <p>⭐ @average?.ToString("0.0")</p>
</div>
}
</div>

<a class="nav-link text-dark showBooksBtn" asp-area="" asp-controller="Book" asp-action="Index">Visa alla böcker</a>
