@model BookClub.Models.BookModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.Country)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

                @if (ViewData["AverageRating"] != null)
            {
                <p>@string.Format("{0:0.0} / 10", ViewData["AverageRating"])</p>
            } else {
                <p>Inget betyg gett ännu</p>
            }

<div>
    <h2>Diskussionsforum för varje kapitel:</h2>


    @foreach (var chapter in Model.Chapters.OrderBy(c => c.Number))
    {
        <h4>Kapitel @chapter.Number - @chapter.Title</h4>

@if (chapter.Discussions != null && chapter.Discussions.Any())
{
            @foreach (var discussion in chapter.Discussions.OrderBy(d => d.CreatedAt))
        {
            <p>@discussion.User?.UserName</p>
            <p>@discussion.CreatedAt</p>

            <h5>@discussion.Title</h5>
            <p>@discussion.Content</p>
        }
} else {
    <p>Inga diskussionsinlägg finns</p>
}

@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Discussion" asp-action="Create" asp-route-chapterId="@chapter.Id">Skapa ett nytt inlägg</a>
}

    }
</div>


