@model BookClub.Models.BookModel

@{
    ViewData["Title"] = "Details";
}
<div class="oneBookImg">
<h1 class="text-center mt-5">@Html.DisplayFor(model => model.Title)</h1> 
<h2 class="text-center mb-4">@Html.DisplayFor(model => model.Author.Name)</h2> 

<div class="d-block mx-auto text-center mb-4">
                @if (@Model.AverageRating != null)
            {
                <p>⭐ @Model.AverageRating?.ToString("0.0")</p>
            } else {
                <p>⭐ Inte betygsatt ännu</p>
            }    
</div>



    <img class="d-block mx-auto" src="@Model.Image" />        
    </div>

<div class=" d-block mx-auto bookDetails mt-5">
    <dl class="row">
        <dt class = "col-sm-12 col-md-2">
            År
        </dt>
        <dd class = "col-sm-12 col-md-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-12 col-md-2">
            Beskrivning
        </dt>
        <dd class = "col-sm-12 col-md-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-12 col-md-2">
            Land
        </dt>
        <dd class = "col-sm-12 col-md-10">
            @Html.DisplayFor(model => model.Author.Country)
        </dd>
                <dt class = "col-sm-12 col-md-2">
            Författare
        </dt>
        <dd class = "col-sm-12 col-md-10">
            <a asp-controller="Author" asp-action="Details" asp-route-id="@Model.Author.Id" class="mt-2">@Model.Author.Name</a>
        </dd>

    </dl>
</div>




<div class="d-flex oneBookButtons">
    @if (User.IsInRole("Admin"))
{
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="update updateOneBook">Redigera information</a> 
}



<a asp-action="Index" class="showInfo showInfoOneBook">Visa alla böcker</a>

</div>




<div class="mt-5 d-block mx-auto">
    <h2 class="mb-5 text-center">Diskussionsforum för varje kapitel:</h2>


    @foreach (ChapterModel chapter in Model.Chapters.OrderBy(c => c.Number))
    {
        <div class="d-block mx-auto chapterBlock">
        <h4 class="text-center" data-bs-toggle="collapse" data-bs-target="#review-@chapter.Id">Kapitel @chapter.Number - @chapter.Title <span class="material-symbols-outlined align-middle">keyboard_arrow_down</span></h4>
<div class="collapse reviewView" id="review-@chapter.Id">  
     
@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Discussion" asp-action="Create" asp-route-chapterId="@chapter.Id" class="takePartDiscussion mb-3">Delta i diskussionen</a>
}
@if (chapter.Discussions != null && chapter.Discussions.Any())
{
  
            @foreach (var discussion in chapter.Discussions.OrderBy(d => d.CreatedAt))
        {
            <div class="oneComment">
            @if (User.Identity.Name == discussion.UserName) {
            <div class="discussionButtons d-flex">
            <a asp-controller="Discussion" asp-action="Edit" asp-route-id="@discussion.Id" class="update updateDiscussion"><span class="material-symbols-outlined align-middle">edit</span></a>
            <a asp-controller="Discussion" asp-action="Delete" asp-route-id="@discussion.Id" class="delete deleteDiscussion"><span class="material-symbols-outlined align-middle">delete</span></a>
            </div>
    }
            <h5>@discussion.Title</h5>
            <p>@discussion.Content</p>
            <p class="text-muted">@discussion.UserName - @discussion.CreatedAt.ToString("yyyy-MM-dd")</p>
            </div>


        }
 
} else {
    <p class="text-center">Inga diskussionsinlägg finns ännu</p>
  
   
}



</div>
</div> 
}

<h2 class="mb-5 mt-5 text-center">Betyg för boken</h2>
<div class="d-block mx-auto reviewBlock">
@foreach (var review in Model.Reviews.OrderBy(r => r.Id))
{
    <div class="oneReview">
        <div class="d-flex discussionButtons">
    @if (User.Identity.Name == review.UserName || User.IsInRole("Admin")) {
        <a asp-controller="Review" asp-action="Edit" asp-route-id="@review.Id" class="update updateDiscussion"><span class="material-symbols-outlined align-middle">edit</span></a>
        <a asp-controller="Review" asp-action="Delete" asp-route-id="@review.Id" class="delete deleteDiscussion"><span class="material-symbols-outlined align-middle">delete</span></a>
    }
</div>
    <h2>⭐ @review.Review</h2>
    <h3>@review.Comment</h3>
    <p class="text-muted">@review.UserName - @review.CreatedAt.ToString("yyyy-MM-dd")</p>

</div>    
}

<br />

@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Review" asp-action="Create" asp-route-bookId="@Model.Id" class="text-center takePartReview">Lämna ett betyg</a>
}
</div>
    
</div>


