@model BookClub.Models.BookModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center mt-5">@Html.DisplayFor(model => model.Title)</h1> 
<h2 class="text-center mb-4">@Html.DisplayFor(model => model.Author.Name)</h2> 

<div class="d-block mx-auto text-center mb-4">
                @if (ViewData["AverageRating"] != null)
            {
                <p>@string.Format("⭐ 0.0", ViewData["AverageRating"])</p>
            } else {
                <p>⭐ Inte betygsatt ännu</p>
            }    
</div>

<div class="w-75 d-block mx-auto bookDetails">
    <img class="d-block mx-auto" src="@Model.Image" />
    <hr />
    <dl class="row ">
        <dt class = "col-sm-2">
            År
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            Beskrivning
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Land
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.Country)
        </dd>
                <dt class = "col-sm-2">
            Författare
        </dt>
        <dd class = "col-sm-10">
            <a asp-controller="Author" asp-action="Details" asp-route-id="@Model.Author.Id" class="mt-2">@Model.Author.Name</a>
        </dd>

    </dl>
</div>




<div class="d-flex oneBookButtons">
    @if (User.IsInRole("Admin"))
{
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="update updateOneBook">Redigera information</a> 
}



<a asp-action="Index" class="showInfo showInfoOneBook">Visa alla böcker</a>

</div>




<div class="mt-5 d-block mx-auto">
    <h2 class="mb-5 text-center">Diskussionsforum för varje kapitel:</h2>


    @foreach (ChapterModel chapter in Model.Chapters.OrderBy(c => c.Number))
    {
        <div class="d-block mx-auto w-75 chapterBlock">
        <h4 class="text-center" data-bs-toggle="collapse" data-bs-target="#review-@chapter.Id">Kapitel @chapter.Number - @chapter.Title <span class="material-symbols-outlined align-middle">keyboard_arrow_down</span></h4>
<div class="collapse reviewView" id="review-@chapter.Id">  
@if (chapter.Discussions != null && chapter.Discussions.Any())
{
  
            @foreach (var discussion in chapter.Discussions.OrderBy(d => d.CreatedAt))
        {
            <div class="oneComment">
            @if (User.Identity.Name == discussion.UserName) {
            <div class="discussionButtons d-flex">
            <a asp-controller="Discussion" asp-action="Edit" asp-route-id="@discussion.Id" class="update updateDiscussion"><span class="material-symbols-outlined align-middle">edit</span></a>
            <a asp-controller="Discussion" asp-action="Delete" asp-route-id="@discussion.Id" class="delete deleteDiscussion"><span class="material-symbols-outlined align-middle">delete</span></a>
            </div>
    }
            <h5>@discussion.Title</h5>
            <p>@discussion.Content</p>
            <p class="text-muted">@discussion.UserName - @discussion.CreatedAt</p>
            </div>


        }
 
} else {
    <p>Inga diskussionsinlägg finns</p>
  
   
}


 
@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Discussion" asp-action="Create" asp-route-chapterId="@chapter.Id" class="takePart">Delta i diskussionen</a>
}
</div>
</div> 
}

<h2 class="mb-5 mt-5">Betyg för boken</h2>

@foreach (var review in Model.Reviews.OrderBy(r => r.Id))
{
    <h2>@review.Review</h2>
    <h3>@review.Comment</h3>
    <p>@review.CreatedAt</p>
    <p>@review.UserName</p>

    @if (User.Identity.Name == review.UserName || User.IsInRole("Admin")) {
        <a asp-controller="Review" asp-action="Edit" asp-route-id="@review.Id">Uppdatera</a>
        <a asp-controller="Review" asp-action="Delete" asp-route-id="@review.Id">Radera</a>
    }
}
<br />

@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Review" asp-action="Create" asp-route-bookId="@Model.Id">Ge ett betyg</a>
}

    
</div>


