@model BookClub.Models.BookModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="w-75 d-block mx-auto">
    <h4 class="text-center">@Html.DisplayFor(model => model.Title) <br /> @Html.DisplayFor(model => model.Author.Name)</h4>
    <img class="d-block mx-auto" src="@Model.Image" />
    <hr />
    <dl class="row ">
        <dt class = "col-sm-2">
            År
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            Beskrivning
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Land
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.Country)
        </dd>

    </dl>
</div>

<div class="w-25 d-block mx-auto mt-5">
                @if (ViewData["AverageRating"] != null)
            {
                <p>@string.Format("{0:0.0} / 10", ViewData["AverageRating"])</p>
            } else {
                <p>Inget betyg gett ännu</p>
            }    
</div>


<div class="w-50 d-block mx-auto">
    @if (User.IsInRole("Admin"))
{
    <a asp-action="Edit" asp-route-id="@Model?.Id">Redigera information</a> 
}



<a asp-action="Index">Visa alla böcker</a>

</div>




<div class="mt-5 w-75 mx-auto">
    <h2 class="mb-5">Diskussionsforum för varje kapitel:</h2>


    @foreach (ChapterModel chapter in Model.Chapters.OrderBy(c => c.Number))
    {
        <h4>Kapitel @chapter.Number - @chapter.Title</h4>

@if (chapter.Discussions != null && chapter.Discussions.Any())
{
            @foreach (var discussion in chapter.Discussions.OrderBy(d => d.CreatedAt))
        {
            <p>@discussion.UserName</p>
            <p>@discussion.CreatedAt</p>

            <h5>@discussion.Title</h5>
            <p>@discussion.Content</p>

                @if (User.Identity.Name == discussion.UserName) {
        <a asp-controller="Discussion" asp-action="Edit" asp-route-id="@discussion.Id">Uppdatera</a>
        <a asp-controller="Discussion" asp-action="Delete" asp-route-id="@discussion.Id">Radera</a>
    }
        }
} else {
    <p>Inga diskussionsinlägg finns</p>
}

@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Discussion" asp-action="Create" asp-route-chapterId="@chapter.Id">Lämna en kommentar</a>
}
}
<h2 class="mb-5 mt-5">Betyg för boken</h2>

@foreach (var review in Model.Reviews.OrderBy(r => r.Id))
{
    <h2>@review.Review</h2>
    <h3>@review.Comment</h3>
    <p>@review.CreatedAt</p>
    <p>@review.UserName</p>

    @if (User.Identity.Name == review.UserName || User.IsInRole("Admin")) {
        <a asp-controller="Review" asp-action="Edit" asp-route-id="@review.Id">Uppdatera</a>
        <a asp-controller="Review" asp-action="Delete" asp-route-id="@review.Id">Radera</a>
    }
}
<br />

@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Review" asp-action="Create" asp-route-bookId="@Model.Id">Ge ett betyg</a>
}

    
</div>


