@model IEnumerable<BookClub.Models.BookModel>

@{
    ViewData["Title"] = "Våra böcker";
}

<h1 class="text-center m-5 display-3">-- Våra böcker --</h1>



<div class="bookList mt-5">
@foreach (var item in Model) {
    <div class="mb-5 mt-3 oneBook">
    <img class="bookDisplayImg" src="@item.Image" />
    <h3>@Html.DisplayFor(modelItem => item.Title) <br /> @Html.DisplayFor(modelItem => item.Author.Name)</h3>
    <h4>@Html.DisplayFor(modelItem => item.Year)</h4>
    <p> ⭐ @(item.AverageRating?.ToString("0.0")
        ?? "-")
    </p>
    <a class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#description-@item.Id">Visa beskrivning <span class="material-symbols-outlined align-middle">keyboard_arrow_down</span></a> 
    <div class="collapse descriptionView" id="description-@item.Id">
    <p class="text-start p-4">@Html.DisplayFor(modelItem => item.Description)</p>        
    </div>
    <br />

    <a asp-action="Details" asp-route-id="@item.Id" class="mt-2 showInfo">Gå till bokens sida</a>  <br />  

@if (User.IsInRole("Admin"))
{   
    <div class="d-flex">
    <a asp-action="Edit" asp-route-id="@item.Id" class="update">Uppdatera</a>
    <a asp-action="Delete" asp-route-id="@item.Id" class="delete">Radera</a>   
    </div>

}
    

    
</div>
}
</div>

<p class="text-center p-2 mb-5 mt-3">
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="showBooksBtn mb-5">Lägg till en ny bok</a>
    }
    
</p>
