@model IEnumerable<BookClub.Models.BookModel>

@{
    ViewData["Title"] = "Våra böcker";
}

<h1>Våra böcker</h1>

<p>
    <a asp-action="Create">Lägg till en ny bok</a>
</p>


@foreach (var item in Model) {
    <div>
    <img src="@item.Image" />
    <h3>@Html.DisplayFor(modelItem => item.Title) <br /> @Html.DisplayFor(modelItem => item.Author.Name)</h3>
    <h4>@Html.DisplayFor(modelItem => item.Year)</h4>
    <p>@Html.DisplayFor(modelItem => item.Description)</p>
    <a asp-action="Edit" asp-route-id="@item.Id">Uppdatera</a>
    <a asp-action="Details" asp-route-id="@item.Id">Visa information</a>
    <a asp-action="Delete" asp-route-id="@item.Id">Radera</a>
</div>



}

